{{!--<!--
SPDX-FileCopyrightText: 2022 Ethaks <ethaks@pm.me>
SPDX-License-Identifier: EUPL-1.2
-->--}}
<form autocomplete="off">
    <div>
        {{! Abilities}}
        {{#each abilitySettings}}
            <div class="form-group">
                <label for="{{@root.appId}}.{{name}}">{{localize label}}</label>
                <div class="form-fields">
                    <select id="{{@root.appId}}.{{name}}"
                            name="{{name}}"
                            data-dtype="String">
                        {{selectOptions options selected=value blank="PF1.None" localize=true}}
                    </select>
                </div>
                <p class="hint">{{localize "PF1SPHERES.Settings.AbilitySettingNote" rollPath=rollPath}}</p>
            </div>
        {{/each}}
    </div>
</form>
